.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: var(--bg-button);
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição de cores */
  
    /* Pseudoelemento para o efeito de hover */
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%; /* Inicia fora do botão (à esquerda) */
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1); /* Cor do efeito de hover */
      transition: left 0.3s; /* Transição da posição esquerda */
      z-index: -1;
    }
  
    &:hover::before {
      left: 100%; /* Movimenta da esquerda para a direita no hover */
    }
  }
  
  .button-text {
    position: relative; /* Garante que o texto esteja acima do pseudoelemento */
    z-index: 1;
  }
  